ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 10px;
}